.wrap_template {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .btnDropdown {
    background: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    transition: all 0.4s ease 0s;
}

.dropdown-content {
    display: none;
    margin-top: -20px;
    position: absolute;
    background-color: white;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: dimgrey;
}

/*
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
*/


/* Projects */
.work {
    height: 400px;
    padding: 5%;
    transition: all 0.4s ease 0s;
}

.work:hover {
    background-color: rgb(242, 242, 242);
    transition: all 0.4s ease 0s;
}

.work img {
    height: 100%;
    object-fit: contain;
}

.work p {
    height: 20%;
    max-width: 100%;
}

/* bluefuse */

.job_instance {
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 3%;
    transition: all 0.4s ease 0s;
}

.job_instance:hover {
    background-color: rgb(242, 242, 242);
    transition: all 0.4s ease 0s;
}

.job_instance img {
    height: 100%;
    max-width: 70%;
    object-fit: contain;
}

.tools {
    height: 145px;
    text-align: center;
}

.tools img {
    height: 100%;
    max-width: 70%;
    object-fit: contain;
}

/* Contact */

.Clickable {
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-item {
    display: flex;
    align-content: baseline;
    padding: 20px;
}

.copyEmail:hover {
    /*cursor: pointer;*/
}

.copyEmail:visited {
    /*cursor: pointer;*/
}

/* About */

.about {
    width: 100%;
    display: flex;
}

.notes {
    display: flex;
    flex-direction: row;
}

.image img {
    width: 100%;
    height: auto;
}

.text {
    width: 60%;
}

.brokenText {
    padding-bottom: 30px;
}

.image {
    width: 40%;
    margin: 0 0 0 auto;
}

.mobileImage {
    display: none;
}

.mobileNotes {
    width: 100%;
}

.boxes {
    text-align: center;
    margin: 1%;
    padding: 1%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.allBoxes a {
    width: 46%;
}

.allBoxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.boxes:hover {
    background-color: rgb(242, 242, 242);
    transition: all 0.1s ease 0s;
}

.boxes img {
    max-width: 60%;
    width: 100%;
    object-fit: contain;
    transition: all 0.4s ease 0s;
}

.boxes p {
    height: 20%;
    max-width: 100%;
    color: black;
}

.spanColumns {
    grid-column: 1/3;
}

.companyLogo {
    height: 75px;
}

.website-photo {
    height: 100px;
    transition: all 0.4s ease 0s;
}

.website-photo:hover {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}

.bath-modules {
    display: grid;
    grid-template-columns: auto auto;
}

.bath-modules {
    display: grid;
}

.btn {
    padding: 15px 0;
    margin: 20px 10px;
    width: 145px;
    text-transform: uppercase;
    font-size: 11px;
    background-color: white;
    border: 1px solid;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    background: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    transition: all 0.4s ease 0s;
}

/*   Skills   */

.skillsTools {
    height: 150px;
    padding: 10px;
}

.skillsTools img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.spaceBetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.skillsHigher {
    display: flex;
    background: rgb(200,241,200, 0.5);
    width: 100%;
    border-radius: 10px;
}

.skillsAverage {
    display: flex;
    background: rgb(212,234,251, 0.5);
    width: 100%;
    border-radius: 10px;
}

.skillsLower {
    background: rgb(229,229,229, 0.5);
    width: 100%;
    border-radius: 10px;
}

.btnSkills {
    padding: 15px 0;
    margin: 20px 10px;
    width: 200px;
    text-transform: uppercase;
    font-size: 11px;
    background-color: white;
    border: 1px solid;
}

.btnSkills:hover {
    background: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
    transition: all 0.4s ease 0s;
}
.pcSkills {
    display: block;
}
.mobileSkills {
    display: none;
    text-align: center;
}

/*   Interests   */

.interests {
    max-width: 100%;
    max-height: 100%;
    height: 40vh;
    object-fit: cover;
    vertical-align:bottom;
    padding: 5px;
    transition: all 0.4s ease 0s;
}

/* Uni Work */

.screenshot {
    width: 32%;
}


@media screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
    }
    .work {
        height: 200px;
    }
    .job_instance {
       width: 85%;
    }
    .allBoxes a {
        width: 100%;
    }
    .image {
        display: none;
    }
    .mobileImage {
        display: block;
        width: 100%;
        margin: 0 auto 0 0;
    }
    .mobileImage img {
        max-width: 100%;
        object-fit: contain;
    }
    .mobileNotes {
        width: 100%;
        text-align: center;
    }
    .mobileNotes p {
        padding-top: 15px;
    }
    .text {
        width: 100%;
    }
    .bath-modules {
        display: block;
    }
    .bath-modules {
        display: block;
    }
    .tools {
        height: 70px;
    }
    .skillsTools {
        height: 70px;
    }
    .pcSkills {
        display: none;
    }
    .mobileSkills {
        display: block;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
}