{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-page-150 spanColumns">

        <div class="padding-bottom-20 justify">
            <h2>Lycée Français Charles de Gaulle</h2>
            I attended the French Lycée in South Kensington, London, where most of my lessons were taught in French.
            While studying at the secondary school there, I received my Brevet which is equivalent to a GSCE in British
            education.
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Awards</h2>
            Diplôme National du Brevet - achieving just over 73% overall
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Duration</h2>
            Secondary School - 2009 to 2014
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Website</h2>
           <a href={{ profile.about.education.allText[3].website }}  target="_blank"><div>
               <img src={{ profile.about.education.allText[3].photo }} alt="Lycée Français Charles de Gaulle" class="website-photo"/>
           </div></a>
        </div>

    </div>
{% endblock content %}