{% extends "layout.html" %}
{% block content %}
    <div class="tighten-page-150 spanColumns">

        <div class="padding-bottom-20 center-text">
            <h2>University of Bath</h2>
            <div class="padding-top-20 justify">
                I studied Computer Science at the University of Bath over 4 years, with one of those in industrial
                placement, graduating with a 2:1. The most valuable experience gain from my time there was mainly the
                industrial placement, at <a href={{ profile.links.work.bluefuse }}>Bluefuse Systems</a> where I worked as a
                website developer. In addition, my work on specific modules such my dissertation and group projects were
                useful and have a clear use in the professional world.
            </div>

        </div>

        <div class="padding-bottom-100 center-text">
            <h2>Standout Computer Science Modules</h2>
            <div class="bath-modules">
            {% for i in range(0, profile.bath.standout.text|length) %}
                <div class="padding-top-20 justify margin-10">
                    <h3>{{ profile.bath.standout.text[i].name }}</h3>
                    {{ profile.bath.standout.text[i].about }}
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="padding-bottom-100 center-text">
            <h2>Dissertation Project - 67% </h2>
            <p class="lengthen-section-20">A small breakdown of my dissertation work:</p>
            {% for i in range(0, profile.bath.dissertation.text|length) %}
                <ul class="padding-top-20 justify tighten-section-200">
                    <li class="padding-top-10" >{{ profile.bath.dissertation.text[i] }}</li>
                </ul>
            {% endfor %}
            <p class="padding-top-20">see more in my <a href={{ profile.links.university }}>dissertation section</a>.</p>
        </div>

        <div class="padding-bottom-100 center-text">
            <h2>Management Modules</h2>
            {% for i in range(0, profile.bath.management.text|length) %}
                <div class="padding-top-20">
                    {{ profile.bath.management.text[i] }}
                </div>
            {% endfor %}

        <div class="padding-bottom-100 center-text">
            <h2>Other Modules Worth Mentioning</h2>
            {% for i in range(0, profile.bath.mention.text|length) %}
                <div class="padding-top-20">
                    {{ profile.bath.mention.text[i] }}
                </div>
            {% endfor %}
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Duration</h2>
            2016 to 2020 - with year placement
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Website</h2>
           <a href={{ profile.about.education.allText[0].website }} target="_blank"><div>
               <img src={{ profile.about.education.allText[0].photo }} alt="University of Bath" class="website-photo"/>
           </div></a>
        </div>

    </div>
{% endblock content %}