{% extends "layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">Bluefuse Systems</h1>
        <div class="justify">
            For my industrial placement, while studying at the University of Bath, I worked at Bluefuse Systems for a
            full year.
        </div>
        <h1 class="padding-top-20">Description</h1>
        <div class="justify">
            Blufuse Systems is a small digital agency based in Bath. Their role is to build and maintain websites of
            varying complexity for clients. Mainly a large tax management company in New Zealand (TMNZ) which takes up to
            80% of the resources. The ongoing projects and technologies, at the time, used at Bluefuse vary, from using
            WordPress to build blogs and websites, to using PHP and Angular 2 to build larger software systems.
        </div>
        <h1 class="padding-top-20">What I Gained</h1>
        <div class="justify">
            What I found most interesting during the placement was the use of functional code, which was not
            distinguished during the course at the University of Bath. As my interest in coding is to closely related
            to maintainability, readability and efficiency, the use of functional code had a important impact on my work.
        </div>
    </div>

    <div class="wrap_template">
        <a href='https://www.tmnz.co.nz/' target="_blank" class="job_instance">
            <img src='/static/images/projects/bluefuse/tmnz.jpg' />
        </a>
    </div>
    <h2 class="padding-top-20">Languages and Frameworks Used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/bluefuse/laravel.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/angular.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/php.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/sql.jpeg' />
        </div>
    </div>
    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/bluefuse/vs.jpeg' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/github.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/github_desktop.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/msqls.jpg' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bluefuse/slack.jpg' />
        </div>
    </div>
    <div class="tighten-section-200">
        <h1 class="padding-top-20">Reference</h1>
        <div class="padding-bottom-100">
            <ul class="remove-dot">
                <li>{{ profile.references.bluefuse.name }} - {{ profile.references.bluefuse.title }}</li>
                <li>{{ profile.references.bluefuse.email }}</li>
                <li>{{ profile.references.bluefuse.phone }}</li>
            </ul>
        </div>
    </div>
{% endblock content %}