{% extends "layout.html" %}
{% block content %}
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--    <script type=text/javascript>-->
<!--            $(function() {-->
<!--              $('div#copyEmail').bind('click', function() {-->
<!--                $.getJSON('/copy_email',-->
<!--                    function(data) {-->
<!--                  //do nothing-->
<!--                });-->
<!--                return false;-->
<!--              });-->
<!--            });-->
<!--    </script>-->

    <div class="contact center-text">
        <div class="contact-item">
            <a href={{ profile.links.linkedIn }} target="_blank">
                <img
                    src="/static/images/social/linkedin.svg"
                    alt= "https://fontawesome.com/"
                    class="icon linkedIn"
                >
            </a>
            <a href={{ profile.links.linkedIn }} class="label" target="_blank">
                {{ profile.name }}
            </a>
        </div>
        <div id=copyEmail class="contact-item padding-top-20">
            <img src="/static/images/social/envelope.svg" class="icon copyEmail">
            <label class="label copyEmail">
                {{ profile.email }}
            </label>
        </div>
    </div>
{% endblock content %}