{% extends "layout.html" %}
{% block content %}
    <div class="tighten-page-150 spanColumns">

        <div class="padding-bottom-20 center-text">
            <h2>Graveney Sixth Form</h2>
            Following my education in a French school, I decided to transition to a British Sixth Form where I completed
            my A-Level qualifications.
        </div>

        <div class="padding-bottom-20">
            <h2>A-Level Subjects and Grades</h2>
            <div class="tighten-section-385">
                <p>Mathematics - 93%</p>
                <p>French - 90%</p>
                <p>ICT - A</p>
                <p>Computing - B</p>
            </div>
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Duration</h2>
            Sixth Form - 2014 to 2016
        </div>

        <div class="padding-bottom-20 center-text">
            <h2>Website</h2>
           <a href={{ profile.about.education.allText[2].website }} target="_blank"><div>
               <img src={{ profile.about.education.allText[2].photo }} alt="Graveney Sixth Form" class="website-photo"/>
           </div></a>
        </div>

    </div>
{% endblock content %}