{% extends "skills.html" %}
{% block skills %}

    <div class="padding-bottom-100">
        <div class="skillsHigher spaceBetween">
            <div class="skillsTools">
                    <img src='/static/images/projects/frameworks/angular.png' />
            </div>
            <div class="skillsTools">
                    <img src='/static/images/projects/frameworks/laravel.png' />
            </div>
            <div class="skillsTools">
                <img src='/static/images/projects/frameworks/flutter.png' />
            </div>
        </div>
        <div class="skillsAverage spaceBetween">
            <div class="skillsTools">
                <img src='/static/images/projects/frameworks/flask.png' />
            </div>
        </div>
    </div>

{% endblock skills %}