{% extends "skills.html" %}
{% block skills %}

    <div class="skillsHigher spaceBetween">
        <div class="skillsTools">
                <img src='/static/images/projects/flags/united.png' />
        </div>
        <div class="skillsTools">
                <img src='/static/images/projects/flags/france.png' />
        </div>
    </div>
    <div class="skillsAverage spaceBetween">
        <div class="skillsTools">
            <img src='/static/images/projects/flags/spain.png' />
        </div>
    </div>

{% endblock skills %}