{% extends "skills.html" %}
{% block skills %}

    <div class="skillsHigher spaceBetween">
        <div class="skillsTools">
                <img src='/static/images/projects/languages/js.png' />
        </div>
        <div class="skillsTools">
                <img src='/static/images/projects/languages/ts.png' />
        </div>
        <div class="skillsTools">
            <img src='/static/images/projects/languages/html.png' />
        </div>
        <div class="skillsTools">
            <img src='/static/images/projects/languages/css.png' />
        </div>
        <div class="skillsTools">
                <img src='/static/images/projects/languages/php.png' />
        </div>
        <div class="skillsTools">
                <img src='/static/images/projects/languages/dart.png' />
        </div>
    </div>
    <div class="skillsAverage spaceBetween">
        <div class="skillsTools">
            <img src='/static/images/projects/languages/python.png' />
        </div>
        <div class="skillsTools">
                <img src='/static/images/projects/languages/sql.png' />
        </div>
    </div>
    <div class="skillsLower spaceBetween">
        <div class="skillsTools">
            <img src='/static/images/projects/languages/c.png' />
        </div>
        <div class="skillsTools">
            <img src='/static/images/projects/languages/java.png' />
        </div>
        <div class="skillsTools">
            <img src='/static/images/projects/languages/matlab.png' />
        </div>
        <div class="skillsTools">
            <img src='/static/images/projects/languages/webgl.png' />
        </div>
    </div>

{% endblock skills %}