{% extends "layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">This Website</h1>
        <div class="justify">
            When deciding to create a website as a portfolio, I intentionally chose languages, frameworks and software
            that I have not previously used. This was because while advertising my skills I thought, why not practise
            with unfamiliar tools to demonstrate my versatility.
        </div>
        <h1 class="padding-top-20">My Decisions</h1>
        <div class="justify">
            I decided on designing a clear and simple UI to convey as much information as possible without overwhelming
            the user. Hence, not being afraid to add as many pages as possible so that the user can choose what they
            would like to know more about and ignore the rest. I believe this format is a more comprehensive style of
            CV/portfolio as it allows the user to fully be in control of what information they are looking for.
        </div>
    </div>

    <h2 class="padding-top-20">Languages and Frameworks Used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/bath/languages/python.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/bath/languages/css_html.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/Website/flask.png' />
        </div>
    </div>
    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/Website/pycharm.jpg' />
        </div>
    </div>
    <div class="tighten-section-200">
        <h1 class="padding-top-20">Code</h1>
            <div class="padding-bottom-100 justify">
                If interested in the source code drop me an email! (apologies for the slow download on photos - I'm
                using a free service)
            </div>
    </div>
{% endblock content %}