{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20 width-100">Sorting Algorithm Visualiser</h1>
        <div class="justify">
            This was a project I decided to take on to demonstrate my familiarity with sort algorithms and being able to
            visually demonstrate how they function as well as their efficiency.
        </div>
        <h1 class="padding-top-20">My Decisions</h1>
        <div class="justify">
            I decided to work with 3 sorting algorithms (merge, quick and bubble). Each of the algorithms have their
            suitability in their application and therefore, was the reason why I selected to work with these algorithms.
            I used a colour code to show the sorting process.
        </div>
        <div class="justify">
            - Red for showing the values currently being compared
        </div>
        <div class="justify">
            - Turquoise for when the value had been visited for the first time.
        </div>
        <div class="justify">
            - Cadet blue for undiscovered values.
        </div>
    </div>

    <h2 class="padding-top-20">See The Project</h2>
    <a href="https://twooliston.github.io/sorting-visualiser/" target="_blank" class="center-text"><div>
       <img src='/static/images/projects/sort.png' alt="sorting algorithm" class="website-photo padding-bottom-20"/>
    </div></a>

    <h2 class="padding-top-20">See The Code on GitHub</h2>
    <a href="https://github.com/twooliston/sorting-visualiser" target="_blank" class="center-text"><div>
       <img src='/static/images/projects/software/github.png' alt="Link to my GitHub" class="website-photo"/>
    </div></a>

    <h2 class="padding-top-20">Languages and Frameworks Used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/languages/js.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/html.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/css.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/frameworks/react.png' />
        </div>
    </div>
    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/software/vs.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/github.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/github_desktop.png' />
        </div>
    </div>
{% endblock content %}