{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">Senior Software Developer</h1>
        <div class="justify">
            I joined a start-up as part of a kickstart scheme. Where naturally, I became the Senior Developer since
            Well Easy had a team of 2 employees besides the founders.
        </div>
        <h1 class="padding-top-20">Description</h1>
        <div class="justify">
            Well Easy use a Shopify website to sell heath and eco-friendly products with a focus on catering to specific
            lifestyles (such as Vegan, Gluten-free, Ketogenic and many more). The website has only been live for a
            couple of months at the start of my employment. Hence, there are many areas to work on. Initially, I have
            been working on the website's UI and UX. From small changes such as fixing the CTA and layout, to rebuilding
            small parts of the site to establish the company's personality. Eventually I will move on to building new
            features and rebuilding the codes structure, as Shopify does not have the most efficient structure by default.
        </div>
        <h1 class="padding-top-20">What I Gained</h1>
        <div class="justify">
            Having the title Senior Developer has been a privilege to receive at such an early stage in my career. This
            level of authority has enabled me to provide more insight in team meetings, helping the start-up gage a
            better understanding of the use of technology as well as further push my experience and knowledge as a
            Project Manager and Software Developer. I am excited as to where this position will take me and to continue
            to grow.
            <br>
            More coming soon...
        </div>

        <h2>Well Easy Website</h2>
        <div class="wrap_template">
            <a href='https://welleasy.co.uk/' target="_blank" class="job_instance">
                <img src='/static/images/projects/well_easy.png' />
            </a>
        </div>
    </div>

    <h2 class="padding-top-20">Languages used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/languages/js.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/html.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/css.png' />
        </div>
    </div>

    <h2 class="padding-top-20">Software and Frameworks used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/frameworks/liquid.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/shopify.png' />
        </div>
    </div>

    <div class="padding-bottom-100"></div>
{% endblock content %}