{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">UI and UX Analysis</h1>
        <div class="justify">
            As a personal project, I worked with a new start up, called Flick Tech, and analyse their web app. Flick Tech
            offers software which helps users with business Instagram account utilise hashtags to maximise their Instagram
            posts' potential reach. This service is subscription based.
        </div>
        <h1 class="padding-top-20">Description</h1>
        <div class="justify">
            This project will be looking to increase Flick's customer retention focusing on their user interface and experience.
            The scope only covered the core system (excluding bugs and functionality issues), once the user has logged
            on. Therefore, this project does not account for customers leaving due to not seeing an increase in their
            reach (because of misunderstanding the purpose of the software), cost/benefit issues and/or other issues.
            Not being an expert on their website and their reasoning of chosen design, I decided to analyse their
            compliance with HCI principles and current user experience and lead to suggesting appropriate improvements
            and additional features to employ.
        </div>
        <h1 class="padding-top-20">What I Gained</h1>
        <div class="justify">
            This project took approximately 4 weeks to complete. I believe it to have been beneficial to my experience
            and understanding for HCI and the implementation of persuasive technology. In the future, I will be better
            prepared when designing and analysing interfaces. Furthermore, I have a better insight on how the project
            could be further expanded with the help of interviews, questionnaires, focus groups as well as more time
            personally spent using the system.
        </div>
        <h1 class="padding-top-20">View My Report</h1>
        <a href="{{url_for('download_flick')}}"><div>
           <img src='/static/images/download-pdf.png' alt="download flick" class="website-photo lengthen-section-20"/>
        </div></a>
    </div>

    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/software/ol.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/flick.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/fs.png' />
        </div>
    </div>

    <div class="padding-bottom-100"></div>

    <div class="tighten-section-200">
        <h1 class="padding-top-20">Quality Assurance</h1>
        <div class="justify">
            After the positive feedback from My UI/UX analysis project for Flick Tech, they offered a small part time job
            in quality assurance of their mobile apps, while I continue my job search.
        </div>
        <h1 class="padding-top-20">Description</h1>
        <div class="justify">
            The job requires 5-10 hours a week, testing and evaluating the android and IOS applications, from bugs to
            inefficiencies to suggesting possible changes for a better user experience. Since the company is still in
            early stages, the documentation is not final and I will be helping add and improve the test cases.
        </div>
        <h1 class="padding-top-20">What I Gained</h1>
        <div class="justify">
            As I am currently still employed by Flick Tech, I am still gaining experience in completing test cases as
            thinking outside the box to continuously improve the current test cases. Furthermore, when analysing the
            applications for UX improvements, I am perpetually looking to come up with new ways to improve the users'
            experience.
        </div>
    </div>

    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/flick.png' />
        </div>
    </div>
{% endblock content %}