{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">University of Bath</h1>
        <div class="padding-bottom-75 justify">
            The 2 main projects which I found worth mentioning are 2 final year projects. My dissertation and my
            Entrepreneurship group project.
        </div>

        <h1 class="padding-top-20">1. Dissertation Project</h1>
        <div class="justify">
            My dissertation project took a look the strain food waste has on the planet and how it could be tackled and
            reduced. Being linked to air, water and soil pollution, I decided that food waste would be a positive topic
            to work on during my final year, in light of the growing discussion and increased awareness of environmental
            issues.
        </div>
        <h1 class="padding-top-20">The Work</h1>
        <div class="justify">
            The aim of the project was to:
            <ol class="lengthen-and-indent-section-10">
                <li>Increase user awareness on the impact food waste has on the planet</li>
                <li>Persuade the user to reduce the amount of food they waste</li>
                <li>Develop a system that facilitates the user reducing their food waste</li>
            </ol>
            Therefore, my paper researches the use of persuasive technology and behaviour change to reach these aims.
            The system was developed to support a community style marketplace to exchange goods for free while
            integrating persuasive features to encourage the users to reduce their food waste. Through prototyping with
            free software I came across online, I was able to play with the design of my product to meet my requirements.
        </div>
        <h1 class="padding-top-20">What I Gained</h1>
        <div class="justify">
            Starting and finishing a project on my own has been a great source of experience and am now comfortable with
            the new languages, frameworks and software that I decided to use. In addition, being more interested in the
            design aspect of product development, I enjoyed being fully in control and dedicated a large portion of my
            project into the HCI research and how to improve the user experience with guidance from engagement with
            stakeholders and potential users.
        </div>
        <h1 class="padding-top-20">Code</h1>
        <div class="justify">
            see the code on <a href="https://github.com/twooliston/food_waste_reduction_solution" target="_blank">Github</a>
        </div>
        <h1 class="padding-top-20">Screenshots of Project</h1>
        <div class="justify">
            <div class="padding-bottom-20">
                The following screenshots are the most relevant pages of my application which show off the UI/UX. The first
                image is the home screen (once logged into the application), which shows the products listed on the market.
                As an example, I uploaded a photo of a twix logo to demonstrate the usability of the app. The second and
                third screenshots are from the user's profile. The second screenshot is where the user can view their score
                and other details such as the number of items they have given away and the amount of pollution that was
                prevented due to them giving away those items. Finally, the final screen shows the items the user has still
                available on the marketplace they they personally uploaded. For more information on my project please feel
                free to <a href={{ profile.links.contact }} >contact me</a>. I can provide my entire dissertation project
                or more explanation on the application's functionality.
            </div>
            <img class="screenshot" src='/static/images/projects/bath/HomePage.png' />
            <img class="screenshot" src='/static/images/projects/bath/ProfileScreen.png' />
            <img class="screenshot" src='/static/images/projects/bath/UserShop.png' />
        </div>
    </div>

    <h2 class="padding-top-20">Languages and Frameworks Used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/languages/dart.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/frameworks/flutter.png' />
        </div>
    </div>
    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/software/as.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/cl.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/proto.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/ol.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/vs.jpeg' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/firebase.png' />
        </div>
    </div>
    <div class="padding-bottom-100"></div>


    <div class="tighten-section-200">
        <h1 class="padding-top-20">2. Entrepreneurship Group Project</h1>
        <div class="justify">
            This project had an aim of coming up with a new product to compete in the real world market and closer
            related to a business or management module. The project was split into three sections where we had to
            research the market, develop a prototype for the project and decide upon a strategy to become successful
            in the chosen market with the team's product.
        </div>
        <h1 class="padding-top-20">The Product</h1>
        <div class="justify">
            After some brainstorming, we came ot the agreement that our best idea was to build an application similar to
            Tinder but with the goal of finding people (or groups of people) with similar hobbies and encourage them to
            organise and actively participate in activities in relation to those hobbies.
        </div>
        <h1 class="padding-top-20">What I Gained</h1>
        <div class="justify">
            Just like any group project, the team had to be managed and deal with any issues that may arise, hence, a
            good team work practice. In addition, taking 3 management/business related modules for the first time has
            provided me with an insight into the field allowing me to better consider all the factors that may play a
            part the success of a business.
        </div>
        <h1 class="padding-top-20">Screenshots of Project</h1>
        <div class="justify">
            <div class="padding-bottom-20">
                For this project, our team decided to use prototyping software as we were short on time to develop an app
                in its entirety. The following screenshots demonstrate the usability of the application and uses
                characteristics from similar applications such as Tinder and messenger apps.
                For more information on my project please feel free to <a href={{ profile.links.contact }} >contact me </a>.
                I can provide my entire dissertation project or more explanation on the application's functionality.
            </div>
            <img class="screenshot" src='/static/images/projects/bath/image3.png' />
            <img class="screenshot" src='/static/images/projects/bath/image1.png' />
            <img class="screenshot" src='/static/images/projects/bath/image2.png' />
        </div>
    </div>

    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/software/office.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/proto.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/forms.png' />
        </div>
    </div>
    <div class="tighten-section-200">
        <h1 class="padding-top-40">Reports</h1>
        <div class="padding-bottom-20">
            If interested in my papers in either of the projects, please drop me an email and I can send you a copy!
        </div>
        <h1 class="padding-top-20">Reference</h1>
        <div class="padding-bottom-100">
            <ul class="remove-dot">
                <li>{{ profile.references.uob.name }} - {{ profile.references.uob.title }}</li>
                <li>{{ profile.references.uob.email }}</li>
                <li>{{ profile.references.uob.phone }}</li>
            </ul>
        </div>
    </div>
{% endblock content %}