{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">Port Management</h1>
        <div class="justify">
            This was a test project, I completed when applying for Gucci. I had to build a basic visualiser to show the
            movement of cargo containers between a ship, storage and a train.
        </div>
        <h1 class="padding-top-20">My Decisions</h1>
        <div class="justify">
            After completing this project, I decided to move the project to a React project and improve the visuals to
            be able to demonstrate the functionality of this project.
        </div>
    </div>

    <h2 class="padding-top-20">See The Project</h2>
    <a href="https://twooliston.github.io/port_management/" target="_blank" class="center-text"><div>
       <img src='/static/images/projects/cargo-ship.png' alt="sorting algorithm" class="website-photo padding-bottom-20"/>
    </div></a>

    <h2 class="padding-top-20">See The Code on GitHub</h2>
    <a href="https://github.com/twooliston/port_management" target="_blank" class="center-text"><div>
       <img src='/static/images/projects/software/github.png' alt="Link to my GitHub" class="website-photo"/>
    </div></a>

    <h2 class="padding-top-20">Languages and Frameworks Used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/languages/js.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/html.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/css.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/frameworks/react.png' />
        </div>
    </div>
    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/software/vs.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/github.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/github_desktop.png' />
        </div>
    </div>
{% endblock content %}