{% extends "__layout.html" %}
{% block content %}
    <div class="tighten-section-200">
        <h1 class="padding-top-20">Sorting Algorithm Visualiser</h1>
        <div class="justify">
            This was a project I decided to take on to demonstrate my familiarity with sort algorithms and being able to
            visually demonstrate how they function and their efficiency.
        </div>
        <h1 class="padding-top-20">My Decisions</h1>
        <div class="justify">
            I decided to work with 4 sorting algorithms. Merge, quick, heap and bubble.
        </div>
    </div>
    <div class="tighten-section-200">
        <h1 class="padding-top-20">See the Project</h1>
            <div class="justify">
                see the project on <a href="https://twooliston.github.io/sorting-visualiser/" target="_blank">Github Pages</a>
            </div>
            <div class="justify">
                see the code on <a href="https://github.com/twooliston/sorting-visualiser" target="_blank">Github</a>
            </div>
    </div>

    <h2 class="padding-top-20">Languages and Frameworks Used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/languages/js.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/html.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/languages/css.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/frameworks/react.png' />
        </div>
    </div>
    <h2 class="padding-top-20">Software used</h2>
    <div class="wrap_template">
        <div class="tools">
                <img src='/static/images/projects/software/vs.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/github.png' />
        </div>
        <div class="tools">
                <img src='/static/images/projects/software/github_desktop.png' />
        </div>
    </div>
{% endblock content %}